include README.md
include LICENSE
include CHANGELOG.md
recursive-include discord_onboarding/templates *
recursive-include discord_onboarding/static *
recursive-include discord_onboarding/locale *
recursive-include discord_onboarding/migrations *
include discord_onboarding/management/commands/*.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
global-exclude *.so