{% extends "allianceauth/base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Discord Onboarding" %}{% endblock page_title %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fab fa-discord"></i>
                    {% trans "Discord Onboarding" %}
                </h3>
            </div>
            <div class="panel-body">
                {% block panel_content %}{% endblock panel_content %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}